
// .manrope{
//     font-family: "Manrope", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: 500;
//     font-style: normal;
//   }
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
    --blue: #3734A9;
    --dark-blue: #3734A9;
    --light-blue: #757095;
    --white: #ffffff;
    --black: #000000;
    --black-1: #181433;
    --green: #22D497;
    --orange: #FF7F5C;
    --transition: 0.3s all ease-in-out;
    --grey: #F5F6F8;
    --darkgrey-1: #C4C4C4;
    --darkgrey: #ededed;
    --border-color: #DBE4E9;
    --text-blue: #64607D;
    --light-blue-1: #C9E7F2;
  }


body{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
    margin: 0;
    padding: 0;
    color: var(--black);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1{
    font-weight: 800;
}

p{
    font-weight: 500;
}
h2{
    font-weight: 800;
    font-size: 50px;
}

.w-65 {
    width: 65%;
}
.mw-65 {
    max-width: 65%;
}

.mb-50 {
    margin-bottom: 50px;
}
.mb-60 {
    margin-bottom: 60px;
}

.btn {
    border-radius: 0;
    padding: 15px 40px;
}

.btn-blue {
    background-color: #3734A9;
    color: #ffffff;

    &:hover {
        background-color: var(--black);
        color:var(--white);
    }

}


.blue-color {
    color: #3734A9;
}

.black-color {
    color: #000000;
}

@media (max-width: 767px) {
    .justify-start {
        justify-content: flex-start !important;
    }
}


// HEADER STARTS

.header {

    @media (max-width: 767px) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    @media (max-width: 767px) {
    .navbar-toggler {
        border: none;
        border-radius: 0;

        &:focus {
            box-shadow: none;
        }
    }
   
    .navbar-collapse {
        background-color: #222056;
        margin-left: -12px;
        margin-right: -12px;
        margin-top: 15px;

        
            .nav-item {
                padding-left: 20px;
                margin-left: 10px;
                &:not(:last-child) {
                    border-bottom: 1px solid #110f3b;
                }
                
                .nav-link {
                    color: var(--white);
                    line-height: 34px;

                    &::after {
                        display: none;
                    }
                }
            }
        }

    }

    .sign-in {
        a {
            &:hover{
                color: var(--blue);
            }
        }

        @media (max-width: 767px) {
            display: none !important;
        }
    }
}

// HEADER ENDS

// BANNER STARTS

.banner {
    background: rgb(201,231,242);
    background: linear-gradient(139deg, rgba(201,231,242,1) 0%, rgba(98,186,218,1) 100%);
    // height: 100vh;
    padding-top: 144px;
    // padding-bottom: 105px;


    @media (max-width: 767px) {
        padding-top: 110px;
    }
    

    &__brush{
        @media (max-width: 767px) {
            width: 60px;
        }
    }

    &__birds{
        @media (max-width: 767px) {
            width: 50px;
            top: 100px;
        }
    }

    &__blue{
        @media (max-width: 767px) {
            width: 90px;
        }
    }
    
    &__img {
        @media (max-width: 767px) {
            text-align: center;
            margin-top: 50px;
        }
        img {
            @media (max-width: 767px) {
                width: 50%;
            } 
        }
    }

    &__container {
        max-width: 646px;
        padding-top: 111px;

        @media (max-width: 767px) {
            padding-top: 0;
        }

        &--reg {
            @media (max-width: 767px) {
                max-width: 100%;
                margin-bottom: 5px;
            }

            > div {
                margin-bottom: 20px;
            }
        }
        
        h1{
           font-size: 60px;
           line-height: 80px;
           margin-bottom: 10px;
           
           @media (max-width: 767px){
            font-size: 30px;
            line-height: 45px;
            margin-bottom: 10px;
           }

        }
        p{
            font-size: 20px;
            line-height: 30px;
            @media (max-width: 767px){
                font-size: 16px;
                line-height: 27px;
               }
        }

        &--btn {
            background-color: var(--blue);
            padding: 15px 40px;
            border-radius: 30px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            transition: 0.3s all ease-in-out;

            &:hover {
                background-color: var(--black);
                color: var(--white);
            }

        }
        &--play-btn {
            width: 60px !important;

            @media (max-width: 767px) {
                width: 40px !important;
            }

        }
        &--seeHow {
            color: var(--black);
            transition: 0.3s all ease-in-out;
            transform: translateX(0);
            &:hover {
                transform: translateX(10px);
            }
        }
        &--register {
            a {
                color: var(--light-blue);
                transition: var(--transition);
                transform: translate(0);
                display: block;
                line-height: 26px;
                

                &:hover {
                    transform: translateX(10px);
                    color: var(--black);
                }

            }
        }
    }
}

// BANNER END


// Clients Logo

.clients-logo {
    background-color: var(--grey);
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 2%;
    padding-right: 2%;

    .owl-carousel {

        .owl-item {
            img {
                // height: 20px;
            }
        }

    }
    

    @media (max-width: 767px) {
        .owl-carousel {

            .owl-item {
                img {
                    height: 34px;
                }
            }

        }

       
    }

    h2 {
        font-size: 22px;
        text-align: center;
        color: var(--black);
        margin-bottom: 60px;
    }
}

// Clients Logo


// Automated 

.g-automated {

    padding-top: 70px;
    padding-bottom: 120px;

    @media (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .owl-nav{
        display: none;
    }

    &__content {
        max-width: 560px;
        padding-bottom: 70px;
        position: relative;

        @media (max-width: 767px) {
            margin-bottom: -30px;
        }
        
        h2{
            font-size: 56px;
            line-height: 66px;
            font-weight: 800;
            color: var(--black);
            margin-bottom: 20px;
            text-transform: capitalize;


            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 38px;
            }

        }

        p {
            @media (max-width: 767px) {
                br {
                    display: none;
                }
            }
        }
    }
    &__testimonials {
        background-color: var(--darkgrey);
        border-radius: 20px;
        padding: 34px 34px 0 34px;

        @media (max-width: 767px) {
            margin-bottom: 40px;
        }

        &--quote{
            left: 35px;
            top: -21px;
        }

        p{
            font-size: 15px;
            color: var(--black);
            line-height: 22px;
        }
        
    }

    &__blocks {
        border: 1px solid var(--border-color);
        padding: 95px 40px 40px 40px;
        border-radius: 20px;
        text-align: center;
        position: relative;

        @media (max-width: 767px) {
            margin-bottom: 40px;
        }


        span {
            position: absolute;
            left: 22px;
            top: 22px;
            font-size: 22px;
            font-weight: 800;
            font-family: "Manrope", sans-serif;
        }

        img {
            margin-bottom: 35px;
        }

        h2 {
            font-size: 30px;
            font-weight: 800;
            line-height: 34px;
            margin-bottom: 20px;
        }

    }

}

// Automated 

// Track Payment

.track-payment {
    margin-bottom: 178px;

    @media (max-width: 767px){
        margin-bottom: 40px;
    }

    &__testimonials{
        background: url(../img/track-payment.svg) 0 0 no-repeat;
        padding: 40px 40px 25px 65px;
        position: relative;
        height: 100%;

        @media (max-width: 767px){
            padding: 35px 20px 0 20px;
            margin-bottom: 80px;
        }

        &--svg {
            position: absolute;
            right: -17px;
            top: -20px;
            z-index: 1;
        }

        ul {
            position: relative;

            li {
                background-color: var(--white);
                box-shadow:5px 10px 5px 0px rgba(0, 0, 0, 3%);
                -webkit-box-shadow:5px 10px 5px 0px rgba(0, 0, 0, 3%);
                -moz-box-shadow:5px 10px 5px 0px rgba(0, 0, 0, 3%);
                padding: 15px 0 0 20px;
                border-radius: 20px;
                position: absolute;
                width: 100%;
                transition: var(--transition);

                @media (max-width: 767px) {
                    position: static;
                    margin-bottom: 20px;
                }

                &:hover{
                    transform: scale(1.1);
                }

                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 110px;
                    left: 106px;
                }
                &:nth-child(3) {
                    top: 220px;
                    left: 68px;
                }
                &:nth-child(4) {
                    top: 330px;
                }

                

                a {
                    display: flex;
                    transition: var(--transition);
                    span {
                        background-color: #e6e4f9;
                        font-weight: 800;
                        padding: 3px 10px;
                        border-radius: 20px;
                        margin-bottom: 5px;
                        display: inline-block;
                        font-size: 15px;
                        color: #3734A9;
                    }

                    img {
                        margin-right: 15px;
                        width: 54px;
                        height: 54px;
                    }

                    p {
                        color: #757095;
                        font-size: 14px;
                    }
                }
            }
        }

    }
    &__content {
        span {
            font-size: 14px;
            font-weight: 700;
            color: var(--blue);
            display: block;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        h2 {
            font-size: 50px;
            line-height: 60px;
            color: var(--black);
            font-weight: 800;
            margin-bottom: 30px;

            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 38px;
            }

        }
        p {
            color: var(--text-blue);
            font-size: 18px;
            line-height: 30px;
            padding-bottom: 20px;
            margin-bottom: 25px;
            border-bottom: 1px solid var(--darkgrey-1);

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }

        ul {
            li  {
                line-height: 30px;
                a {
                    transition: var(--transition);
                    font-size: 19px;
                    line-height: 45px;
                    color: var(--text-blue);
                    transform: translateX(0);
                    display: inline-block;

                    @media (max-width: 767px) {
                        font-size: 16px;
                    }

                    img {
                        margin-right: 10px;
                    }
                    

                    &:hover{
                        transform: translateX(10px);
                        color: var(--black);
                    }

                }
            }
        }
    }
}

// Track Payment


// Save Money

.save-money {

    .owl-nav{
        display: none;
    }

    .owl-dots {
        display: none;
    }

    &__content {
        
        margin-top: 130px;
        margin-bottom: 96px;

        @media (max-width: 767px) {
            margin-top: 0;
            margin-bottom: 40px;
        } 

        span {
            font-size: 14px;
            font-weight: 700;
            color: var(--blue);
            display: block;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        h2 {
            font-size: 48px;
            line-height: 60px;
            color: var(--black);
            font-weight: 800;
            margin-bottom: 30px;

            @media (max-width: 767px){
                font-size: 30px;
                line-height: 36px;
            }

        }

        p {
            color: var(--text-blue);
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 55px;


            @media (max-width: 767px) {
                font-size: 16px;
            }

        }

    }

    &__testimonials {
        background-color: var(--darkgrey);
        border-radius: 20px;
        padding: 40px 34px 20px 34px;
        position: relative;

        &--quote{
            position: absolute;
            left: 35px;
            top: -21px;
        }

        p {
            font-size: 15px;
            line-height: 22px;
            font-weight: 700;
            color: var(--black);
            margin-bottom: 0;
            padding-bottom: 15px;
           
        }

        span {
            text-transform: capitalize;
            font-weight: 700;
            font-size: 15px;
            color: var(--black);
        }
    }

    
}

// Save Money


// Featured

.featured {
    background-color: var(--light-blue-1);
    padding: 146px 0;
    position: relative;


    @media (max-width: 767px) {
        margin-top: 40px;
        padding-top: 40px;
    padding-bottom: 40px;
    }

    &--dots{
        position: absolute;
        bottom: 98px;
        left: 0;

        @media (max-width: 767px) {
            display: none;
        }

    }

    &__content {
        h2 {
            font-size: 70px;
            line-height: 66px;
            color: var(--black);
            margin-bottom: 40px;
            font-weight: 800;

            @media (max-width: 767px){
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 20px;
            }

        }

        p {
            max-width: 540px;
            font-size: 16px;
            font-weight: 500;
            line-height: 29px;
            margin-bottom: 50px;

            @media (max-width: 767px){
                margin-bottom: 30px;
            }
        }
    }

    &__block {
        background-color: var(--white);
        padding: 55px 80px 25px 30px;
        border-radius: 10px;
        border: 1px solid #ABC8D2;

        @media (max-width: 767px){
            margin-bottom: 30px;
        }
        
        img {
            text-align: center;
            margin-bottom: 35px;
        }

        h2 {
            font-size: 22px;
            line-height: 35px;
            margin-bottom: 15px;
        }

        p{
            line-height: 26px;
            font-size: 15px;
        }
    }

    &__block2 {
        div {
            background-color: var(--white);
            padding: 40px 80px 40px 30px;
            border-radius: 10px;
            border: 1px solid #ABC8D2;

            &:nth-child(1) {
                margin-bottom: 20px;
            }

            h3 {
                font-size: 22px;
                font-weight: 800;
                line-height: 35px;
            }
        }
    }

}

// Featured


// Testimonials

.testimonials {
    padding: 150px 0;

    @media (max-width: 767px) {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .owl-nav {
        display: none;
    }

    &__content {
        position: relative;
        margin-bottom: 50px;

        &--svg{
            position: absolute;
            right: 53px;
            top: 0;

            @media (max-width: 767px) {
                display: none;
            }

        }
        h2 {
            font-size: 71px;
            margin-bottom: 20px;

            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 36px;
            }
        }

        p{
            max-width: 570px;
            font-size: 16px;
            line-height: 29px;
        }
    }

    &__block {

        &__container {

            border: 1px solid var(--border-color);
            background-color: var(--white);
            padding: 25px 25px 25px 40px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            
            
            @media (max-width: 767px) {
                padding: 25px;
                flex-wrap: wrap;
                width: 94%;
                flex-direction: column;
            }

        

        }

        &--quote {
            position: absolute;
            left: 35px;
            top: -29px;
            width: 57px !important;
            height: 57px !important;
            z-index: 2;
        }

        &--img {
                width: 240px !important;
                height: 350px;

                @media (max-width: 767px) {
                    width: 100% !important;
                    margin-top: 40px;
                    object-fit: cover;
                }
        }

        h2 {
            font-size: 25px;
            line-height: 36px;
            margin-bottom: 30px;
            margin-right: 30px;
            margin-top: 45px;

            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 10px;
                margin-top: 0;
            }
        }

        span {
            font-size: 20px;
            font-weight: 600;

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }

    }

}

// Testimonials

.counter {
    background-color: var(--dark-blue);
    padding: 70px 0;
    position: relative;
    margin-bottom: 160px;

    @media (max-width: 767px) {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    &--svg {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &__text {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-color: #000000;
            width: 2px;
            height: 275px;
            top: -94px;
            right: 0;


            @media (max-width: 767px) {
                display: none;
            }

        }
        
        p {
            font-size: 19px;
            color: var(--white);
            line-height: 31px;
            font-weight: 400;
            max-width: 143px;
        }
        
    }

    &__counter {
        position: relative;

        @media (max-width: 767px) {
            margin-bottom: 30px;
            flex-basis: 100%;
        }

        img {
            width: 16px;
        }

       
        h2 {
            font-size: 72px;
            font-weight: 800;
            color: var(--white);

            @media(max-width: 767px) {
                font-size: 50px;
            }

        }

        &--text {
            color: var(--white);
            font-size: 30px;
            font-weight: 200;

            @media(max-width: 767px) {
                font-size: 18px;
            }

        }
    }

}


// Testimonials

// BLOG

.blog {
    
    margin-bottom: 150px;

    @media (max-width: 767px) {
        margin-bottom: 40px;
    }

    h2 {
        font-size: 71px;
        margin-bottom: 70px;


        @media (max-width: 767px) {
            font-size: 30px;
            margin-bottom: 40px;
        }

    }
    &__first {
        margin-bottom: 65px;


        @media (max-width: 767px) {
            margin-bottom: 40px;
        }

    }
        &__content {

            @media (max-width: 767px) {
                margin-bottom: 30px;
            }
        
            span {
                font-size: 16px;
                text-transform: uppercase;
                margin-bottom: 7px;
                display: block;
            }
    
            p{
                font-size: 29px;
                font-weight: 700;
                max-width: 524px;
                line-height: 36px;
                margin-bottom: 70px;

                @media (max-width: 767px) {
                    font-size: 18px;
                    line-height: 29px;
                    margin-bottom: 10px;
                }
            }
    
            a {
                position: relative;
                font-size: 16px;
                font-weight: 600;
                color: var(--black);
                position: relative;
                transition: var(--transition);
    
                &::after {
                    content: '';
                    position: absolute;
                    top: 7px;
                    right: -30px;
                    background: url(../img/arrow.svg) 0 0 no-repeat;
                    width: 20px;
                    height: 20px;
                    transition: var(--transition);
                    transform: translateX(0);
                }
    
                &:hover {
                    color: var(--dark-blue);
                    &::after {
                        transform: translateX(5px);
                    }
                }
    
            }
    
            &--blog1 {
                width: 499px;
                height: 285px;
            }
    
        }
    
        &__list {



            &--blogContent {
                @media (max-width: 767px) {
                    margin-bottom: 30px;
                }
                span {
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    display: inline-block;
                    text-transform: uppercase;
                }
                p {
                    font-size: 29px;
                    font-weight: 700;
                    margin-bottom: 60px;
                    line-height: 36px;
                    max-width: 310px;

                    @media (max-width: 767px) {
                        font-size: 16px;
                        line-height: 26px;
                        margin-bottom: 25px;
                        max-width: 100%;
                    }

                }
                img {
                    max-width: 100%;
                    width: 100%;
                    cursor: pointer;
                    transition: var(--transition);

                }
            }
        }
    
}

// BLOG

// FAQ

.faq {
    margin-bottom: 150px;
    position: relative;


    @media (max-width: 767px) {
        margin-bottom: 40px;
    }

    &--svg-left{
        position: absolute;
        left: 0;
        top: 88px;
    }
    &--svg-right{
        position: absolute;
        right: 0;
        top: 0;

        @media (max-width: 767px) {
            width: 50px;
        }

    }

    &--heading {
        font-size: 71px;
        line-height: 76px;
        margin-bottom: 70px;

        @media (max-width: 767px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 40px;
        }
    }

    &__left {
        cursor: pointer;

        &__accordion {
            border: 1px solid var(--border-color);
            border-top: 1px solid var(--border-color) !important;
            background-color: var(--white);
            padding: 20.1px 25px;
            border-radius: 10px;
            transition: var(--transition);
            display: block;

            &:hover {
                background-color: var(--grey);

                a {
                    color: var(--black);
                    transition: var(--transition);

                    &::after {
                        color: var(--black);
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            &--header {
                
                a {
                    font-size: 22px;
                    font-weight: 800;
                    color: var(--black);
                    position: relative;
                    display: block;
                    transition: var(--transition);

                    @media (max-width: 767px){
                        font-size: 16px;
                        max-width: 90%;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        background: url(../img/plus.svg) 0 0 no-repeat;
                        width: 20px;
                        height: 20px;
                        top: 7px;
                        right: 0;
                        transition: var(--transition);

                        @media (max-width: 767px) {
                            right: -40px;
                        }

                    }

                    
                    &:not(.collapsed) {
                        transition: var(--transition);
                        &::after {
                            content: "";
                            background: url(../img/minus.svg) 0 0 no-repeat;
                        }
                    }

                }
            }

            &--content {
                margin-top: 15px;
            }

        }

        

    }

    &__right {
        background-color: var(--white);
        border: 1px solid var(--border-color);
        border-radius: 10px;
        padding: 67px 42px 32px 42px;
        text-align: center;

        @media (max-width: 767px) {
            margin-top: 40px;
        }

        &--icon {
            margin-bottom: 40px;
        }

        h3 {
            font-size: 22px;
            font-weight: 800;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px;
            line-height: 31px;
            margin-bottom: 95px;
        }

        a {
            background-color: var(--orange);
            color: var(--white);
            display: block;
            padding: 20px 0;
            transition: var(--transition);

            &:hover{
                background-color: var(--black);
                color: var(--white);
            }
        }
    }

}

// FAQ



// Discover

.discover {
    &__content {
        background-color: var(--blue);
        padding: 108px 219px;
        border-radius: 20px;
        text-align: center;
        position: relative;
        margin-bottom: 150px;

        @media (max-width: 767px) {
            padding: 52px 30px;
            margin-bottom: 40px;
        }


        h2 {
            color: var(--white);
            font-size: 56px;
            font-weight: 800;
            line-height: 61px;
            margin-bottom: 42px;
            position: relative;

            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 39px;
            }

            &::before {
                content: "";
                position: absolute;
                background: url(../img/dotted.svg) 0 0 no-repeat;
                width: 148px;
                height: 148px;
                top: -48px;
                left: 0;

                @media (max-width: 767px){
                    width: 78px;
                    height: 78px;
                    top: -18px;
                }

            }
        }

        a {
            background-color: var(--orange);
            color: var(--white);
            font-weight: 700;
            font-size: 18px;
            padding: 20px 42px;
            display: inline-block;
            border-radius: 10px;
            transition: var(--transition);
            position: relative;


            @media (max-width: 767px) {
                font-size: 14px;
                padding: 15px 29px;
            }
            

            &:hover {
                background-color: var(--white);
                color: var(--black);
            }

        }


        &::before {
            content: "";
            position: absolute;
            background: url(../img/wire.svg) 0 0 no-repeat;
            bottom: 43px;
            left: 109px;
            width: 100.8px;
            height: 106px;
            
            @media (max-width: 767px) {
                bottom: 23px;
                left: 49px;
            }

        }
        &::after {
            content: "";
            position: absolute;
            background: url(../img/wire.svg) 0 0 no-repeat;
            top: 50px;
            right: 115px;
            width: 100.8px;
            height: 106px;
            transform: rotate(90deg);

            @media (max-width: 767px) {
                top: 0px;
                right: 157px;
                width: 50px;
            }

        }

        span {
            &::before {
                content: "";
                position: absolute;
                background: url(../img/discover-half1.svg) 0 0 no-repeat;
                width: 83px;
                height: 83px;
                top: 260px;
                left: 274px;

                @media (max-width: 767px) {
                    top: 0;
                }
                
            }
            &::after {
                content: "";
                position: absolute;
                background: url(../img/discover-half2.svg) 0 0 no-repeat;
                width: 185px;
                height: 185px;
                top: 223px;
                right: 33px;

                @media (max-width: 767px) {
                    display: none;
                }

            }
        }

    }
}

// Discover

// Footer

.footer {

    .col-padd {
        padding-left: 50px;


        @media (max-width: 767px) {
            padding-left: 15px;
        }

    }

    &__about {
        a {
            margin-bottom: 20px;
            display: inline-block;
        }

        p {
            color: var(--light-blue);
            font-size: 16px;
            line-height: 28px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        ul {
            display: flex;
            max-width: 130px;
            justify-content: space-between;
            align-items: center;

            li {
                
                a {
                    transition: var(--transition);
                    transform: translateY(0);

                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }

    &__company {

        h2{
            font-size: 21px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        .form-control {
            background-color: #EEEEFF;
            border-radius: 0;
            border-color: #EEEEFF;
            color: #181433;

            &:focus {
                box-shadow: none;
            }

        }

        ul {
            li {
                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--black-1);
                    line-height: 38px;
                    display: inline-block;
                }
            }
        }


        &--hover{
            ul {
                li {
                    a {
                        transition: var(--transition);
                        transform: translateX(0);

                        &:hover{
                            color: var(--blue);
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }

        &--text {
            font-size: 16px;
            color: #181433;
            line-height: 26px;
            font-weight: 300;
        }

    }


    .copyright {
        text-align: center;
        border-top: 1px solid #E5E5EA;
        padding-top: 40px;
        margin-top: 60px;        
        padding-bottom: 20px;
        p {
            color: #181433;
        }
        a {
            color: var(--dark-blue);
            transition: var(--transition);
            font-weight: 800;
            &:hover {
                color: var(--black);
                
            }
        }
    }

}

// Footer